body {
    background: #f8f8f8;
}

.menu {
    list-style-type: none
}
.menu a {
    text-decoration: none;
    font-size: 16px;
    font-style: italic;
    color: forestgreen;
}
h3 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background: #eaeaea;    
}
.short {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}
.long {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.list-char {
    color: mediumslateblue;
    list-style-image: url(http://www.inavto.ru/upload/medialibrary/684/68422c0b51f6a12da65db15ada945e6c.png);
    margin-left: 20px;
}
input[type="text"],
input[type="email"] {
    width: 200px;
    height: 20px;
}
input[type="email"]:focus {
    color: mediumvioletred;
    background: lightblue;
}

input[type="text"],
input[type="email"],
textarea {
    text-transform: capitalize;
}
.color-input{
    color: darkslategray;
    font-size: 16px;
    font-style: italic;
}

.hand-border {
    outline: 1px solid lightslategrey;
}
.hand-border:hover {
    outline: none
}

.catalog{
    text-align: center;
}
.catalog .catalog-item{
    border: 1px solid lightslategrey;
    width: 100px;
    padding: 10px;
    margin-bottom: 10px;
}
.catalog .catalog-item a{
    text-decoration: none;
}
.menu li a:hover {
    color:red
}
.menu li a:active {
    color:blue
}
.goods p::first-letter{
    font-family: monospace;
    font-size: 30px;
}
table,
td{
    border: 1px solid lightgrey;
    border-spacing: 0;
    text-align: center;
}
table tr:first-child{
    height: 50px;
}